<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.razor.itbooks</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>C69FC019-0BBC-4556-898F-EC8D04904712</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D24FD0DA-0085-4BAC-B282-B75F76FE9F8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kennedy Oliveira</string>
	<key>description</key>
	<string>Search books in IT Books</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>IT Books</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python itbooks.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D24FD0DA-0085-4BAC-B282-B75F76FE9F8E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>itbooks</string>
				<key>text</key>
				<string>Search IT Books</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C69FC019-0BBC-4556-898F-EC8D04904712</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>C69FC019-0BBC-4556-898F-EC8D04904712</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D24FD0DA-0085-4BAC-B282-B75F76FE9F8E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
